<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav class="nav-index">
    <% if (user) { %>
      <a href="/new">Add Donut</a>
      <div class="card-action">
      </div>
      <%}%> 
    <% if (user) { %>
      <a href="/profile/<%= user._id %>">Your Donuts</a>
      <div class="card-action">
      </div>
      <%}%> 
      <% if (user) { %>
        <a href="/logout"><i class="material-icons left"></i>Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i class="material-icons left"></i>Login</a>
      <% } %>

  </nav>
  <main>
  