body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
nav{
  list-style-type: none;
  color: black;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  display: flex;
}

a {
  background-color: blue; 
  color: white;
  width: 100vw;
  text-decoration: none;
  padding: 20px;
}

/* #search-row form {
  padding-top: 20px;
} */
/* .brand-log {
  margin-left: 15px;
} */
/* .frontPage {
  display: flex;
} */


