body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://i.imgur.com/ysTijaR.jpg")
  
}
nav{
  list-style-type: none;
  color: black;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  display: flex;
}

a {
  color: white;
  width: 100vw;
  text-decoration: none;
  padding: 20px;
}

.nav-profile {
  background-color: blue;
  color: white;
}
.nav-new {
  background-color: blue;
  color: white;
}
.nav-index {
  background-color: blue;
  color: white;
}
.edit {
  background-color: black;
  border-radius: 10%;
  color: black;
}
.delete{
  background-color: black;
  border-radius: 10%;
  color: white;
}