<!DOCTYPE html>
<html lang="en">

</head>
<body>
    <head>
        <title>Edit Your Donuts</title>
       
        <tr>
            <form action="/donuts/<%= donut._id %>" method="POST">
                <input type="text" name="name" placeholder="<%=donut.name %>">
                <input type="date" name="eaten" placeholder=" <%=donut.eaten %>">
                <input type="text" name="where" placeholder=" <%=donut.where %>">
                <input type="submit" value="SUBMIT EDIT">
            </form>
        </tr>

        </tbody>
        </table>
    </head>
</html>
</body>

</html>