<%- include('../partials/header') %>
<html lang="en">

  <head>
    <title>Donut Journalists</title>
    <% donuts.forEach(function(d) { %>
      <tr>
        <td>Name of Donut: <%= d.name %></td>
        <td>Eaten On: <%= d.eaten %></td>
      </tr>
    <br />
      <% }); %>
    </tbody>
  </table>
</head>
</body>
</html>
<%- include('../partials/footer') %>
