
<form id="new-form" action="/" method="POST">
        <label>Donut Picture </label>
        <input type="text" name = "photo"  placeholder = "paste a donut photo">
        <label>Donut name</label>
        <input type="string" name = "name">
        <label>Eaten On: </label>  
        <input type = "date" name = "eaten">
        <label>Address:</label>
        <input type="string" name="where">
        <label>Your Experience</label>
        <input type="string" name="entry">
        <input type="submit" value="Add Donut">
    </form>
    </html>
