<a href="/" >World of Donuts</a>
<form id="new-form" action="/" method="POST">
</br>
        <label>Donut Picture </label>
        <input type="text" name = "image"  placeholder = "paste a donut photo">
        </br>
        <label>Donut name :</label> 
        <input type="string" name = "name">
        </br>
        <label>Eaten On: </label>  
        <input type = "date" name = "eaten">
        </br>  
        <label>Address:</label>
        <input type="string" name="where">
        </br>
        <label>Your Experience</label>
        <input type="string" name="entry">
        </br>
        <input type="submit" value="Add Donut">
    </form>
    </html>
