<html lang="en">

<head>
  <title>Tim's Donuts</title>
</head>

<body>
  <h1>Your Donuts</h1>
  <ul>
    <% eater.donuts.forEach(function(d) { %>
    <li>
      <tr>
        <td>Name of Donut: <%= d.name %></td>
        <button type="submit">X</button>
        <br/>
        <td>Eaten On: <%= d.eaten %></td>
        <button type="submit">X</button>
        <br/>
        <td >Your Donut Thoughts: <%= d.entry %></td>
        <button type="submit">X</button>
        <br/>
      </tr>
      <br/>
    </li>
    <% }); %>
  </ul>
  <a href="/">World of Donuts</a>
  </tbody>
</body>

</html>